/******************************************************************************
************************************INDEX.HTML*********************************
******************************************************************************/
body{
	font-family: "Times New Roman";
	margin: 20px auto 0 auto;
	width: 100%;
	max-width: 1200px;
}
p{
	line-height: 1.3;
}
.myIntro{
	line-height: 1.5;
}
.myIntro h1{
	color: white;
	padding-top: 20px;
	font-family: Verdana;
	text-align: center;
}
.myIntro p{
	color: white;
	text-align: center;
}
#myName{
	font-family: monospace, Verdana;
	font-size: 25px;
}
header img{
	width: 200px;
	height: auto;
	margin: 10px auto 10px auto;
	display: block;
}
header nav{
	text-align: center;
	//background: linear-gradient(#F0F0F0 0%,#7D7D7D 70%, #7D7D7D 71%, #c0c0c0 100%);
	//box-shadow: 5px 5px 10px black;
	border-radius: 10px;
	height: 40px;
	width: 100%;
}
nav .nav_table{
	display: table;
	table-layout: fixed;
	//float: left;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
#left{
	width: 50%;
	min-width: 400px;
}/*
#right{
	float: right;
	width: 30%;
	margin-right: 30px;
	min-width: 230px;
}*/
header nav	ul{
	display: table-row;
	margin-top: 10px;
}
header nav li{
	display: table-cell;
	font-weight: bold;
	font-size: 17px;
	vertical-align: middle;
	transition: all 0.8s ease;
}
#right li{
	font-family: Verdana;
	font-size: 14px;
}
nav li:last-child{
	padding-right: 0px;
	margin-right: 0px;
}
header a{
	text-decoration: none;
	color: #38EBFA;
	transition: all 0.5s ease;
}
header a:link, header a:visited{
	color: #38EBFA;
}
header nav li:hover a{
	color: #FFF;
}
header nav li:hover{
	background-color: #6DEFFA;
}

.selectedNav{
	box-shadow: 0px 3px #6DEFFA;
}

.mainPageImg{
	background-color: #56EEFA;
	height: 250px;
}



/*************************Contents***************************/

.contents{
	overflow: hidden;
	min-height: 560px;
}
.blog_tag{
	width: 50%;
	height: 200px;
	margin: 20px auto 0 0;
	overflow: hidden;
	float: left;
}
.blog_tag article{
	float: right;
	width: 50%;
	height: 200px;
	color: #fff;
	//background-color: #CBCBCB;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
}
.blog_tag article h1{
	position: relative;
	top: 70px;
	transition: top 0.8s ease;
}
.blog_tag article p{
	position: relative;
	top: 200px;
	width: 80%;
	margin: 0 auto;
	transition: all 0.8s ease 0.1s;
}
.blog_tag:hover h1, .blog_tag:hover p{
	top: 0px;
}
.blog_tag:hover img{
 	width: 50%;
 }
 .blog_tag:hover article{
 	background-color: #999999;
 }
.blog_tag img{
	width: 45%;
	transition: all 0.8s ease;
}

#green{
	background-color: #3BC9FF;
}
.blog_tag:hover #green{
	background-color: #00B9FF;
}

#red{
	background-color: #FF364E;
}
.blog_tag:hover #red{
	background-color: #FF0825;
}

/*************************Footer***************************/

footer{
	background-color: #56EEFA;
	height: 240px;
	position: relative;
	//min-width: 700px;
	//margin-top:30px;
	//margin-top: 200px;
}
.quote{
	font-family: Georgia;
	font-weight: 20px;
	font-size: 20px;
	font-style: italic;
}
#main_page_quote{
	color: #FFF;
	position: relative;
	top: 25px;
	margin: 0 auto 0 auto;
	padding-bottom: 25px;
	width: 65%;
	text-align: center;
	display: block;
}
#main_page_quote:before{
	content: '"';
	position: absolute;
	left: -15px;
	top: -25px;
	font-size: 60px;
}
#BW_logo{
	background-image: url(images/logo_BW.png);
	background-size: 200px auto; 
	height: 75px;
	width: 200px;
	display: block;
	text-indent: -9999px;
	margin: auto;
	position: absolute;
	right: 0; bottom: 30px; left: 0;
}
.legal{
	color: #FFF;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 13px;
/*declare width and height for absolute positioning block 
to be positioned in the center of parent division*/
	width: 380px;  
	height: 15px;
	position: absolute;
	right: 0; bottom: 10px; left: 0;
	margin: auto;
}

pre{
	text-align: left;
}
.prettyprint{
	width: inherit;
}


/*************************Media Query***************************/

@media only screen and (max-device-width: 850px){
	.blog_tag{
		width: inherit;
		float: none;
	}
	.blog_tag img, .blog_tag:hover img{
		width: 40%;
	}
	.blog_tag article{
		width: 60%;
	}
}

@media only screen and (max-device-width: 700px){
	body{
		width: inherit;
	}
	header{
		width: inherit;
	}
	/*header nav{
		width: inherit;
		height: 60px;
	}*/
	header nav ul{
		width: inherit;
	}
	/*nav .nav_table{
		height: 50%;
	}*/
	#left{
		width: 100%;
		float: none;
		margin: 0 auto 0 auto;
	}/*
	#right{
		float: none;
		margin: 0 auto 0 auto;
	}*/
	.blog_tag article h1, .blog_tag article p{
		top: 0px;
	}

	.mainPageImg{
	height: 300px;
	}
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
 	clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
/******************************************************************************
**********************************AbountMe.HTML*********************************
******************************************************************************/

.aboutmeSec{
	height: 400px;
	background-size: 200% 100%;
	transition: all 0.8s ease;
}

.aboutmeSec:first-child{
	margin-top: 10px;
}

.backgroundBlue{
	background-image: linear-gradient(to right, white 50%, #56EEFA 50%);
}

.backgroundRed{
	background-image: linear-gradient(to right, white 50%, #DE4C4F 50%);
}

.backgroundYellow{
	background-image: linear-gradient(to right, white 50%, #E7B54F 50%);
}

.backgroundGreen{
	background-image: linear-gradient(to right, white 50%, #44E52C 50%);
}

.backgroundPink{
	background-image: linear-gradient(to right, white 50%, #ED3277 50%);
}

.separatorLeft, .separatorRight{
	position: relative;
	width: 49%;
	min-width: 360px;
	height: inherit;
	text-align: center;
	//border: 2px #000 solid;
}
.separatorLeft{
	float: left;
}
.separatorRight{
	float: right;
}

.aboutText{
	position: absolute;
	font-family: Verdana;
	font-size: 18px;
	color: white;
	line-height: 1.5;
	text-align: center;
	width: 330px;
}

.leftText, .rightText{
	left: 20%;
	top:25%;
}

.logoText{
	position: absolute;
	font-family: Verdana;
	text-align: center;
	font-size: 50px;
	color: white;
	width: 200px;
}

.leftLogo, .rightLogo{ 
	left:25%;
	top: 25%;
}

.socialContainer{
	position: absolute;
	height: 60px;
	width: 260px;
	left: 25%;
	top: 35%;
}
.socialContainer img{
	height: 0px;
	width: 0px;
	float: left;
	margin-top: 30px;
	transition: all 0.5s cubic-bezier(0.3, 1.34, 0.6, 1.35);
	transition-delay: 0.2s;
}

.socialContainer img:first-child{
	margin-left: 30px;
}

.socialContainer img:not(:first-child){
	margin-left: 60px;
}

/*.socialContainer:hover img{
	height: 50px;
	width: 50px;
	margin-top: 5px;
}

.socialContainer:hover img:first-child{
	margin-left: 5px;
}

.socialContainer:hover img:not(:first-child){
	margin-left: 10px;
}*/

@media only screen and (max-device-width: 730px){
	.separatorLeft, .separatorRight{
		height: 50%;
		width: 100%;
		min-width: none;
	}
	.leftLogo{
		top:10%;
	}
	.rightLogo{
		left: 30%;
	}
	.leftText{
		top: 10%;
	}
	.rightText{
		top: 10%;
		left:15%;
	}
	.socialContainer{
		top:10%;
	}
}
