h1{
	font-family: Geogia;
	text-align: center;
	color: #444;
}
h2{
	font-family: Geogia;
	color: #444;
}
p{
	font-family: Verdana;
	line-height: 1.5;
	font-weight: lighter;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a{
	text-decoration: none;
}
.contents{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.intro{
	font-style: italic;
	text-align: center;
	font-size: 15px;
	margin-right: 13%;
	margin-left: 13%;
	color: #777;
}
caption{
	font-style: italic;
	border: #000 2px solid;
	text-align: center;
}
em{
	font-weight: bold;
}
.subTitle{
	color: #56EEFA;
	margin-left: 5%;
}